@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');
@import "tailwindcss";


body {
  font-family: 'Mulish', sans-serif;
  background-color: white;
  color: black;
  transition: all 0.2s;
  overflow-x: hidden;
}

.button-swiper{
  padding: 20px;
  background-color: white;
  width: 300px;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}
.swiper-button-prev,
.swiper-button-next
{
  top: unset !important;
  left: unset !important;
  bottom: unset !important;
  width: auto !important;
  right: unset !important;
  position: unset !important;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  background: linear-gradient(135deg, rgba(255,255,255, 0.1), rgba(255,255,255,0));
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0,0.37);
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 10%;
  
}
.button-arrangement {
  position: absolute;
  top: 80px;
  right: 20px;
}
.swiper-button-prev::after,
.swiper-button-next::after {
  color: #00796B ;
  font-size: 20px !important;
  font-weight: bold;
}
.swiper-pagination-bullet-active{
  background-color: #FF6600 !important;
}

